body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

a:link, a:visited {
    color: green;
}

.button-link:link,visited {
    color: green;
    text-decoration: none;
}

.header {
    padding: 10px 16px;
    background: black;
    color: green;
    font-family: monospace;
    width:100%;
    height:70px;
    position:fixed;
    z-index: 1000;
}

.header-left {
    color: green;
    font-family: monospace;
    float: left;
    padding: 16px;
}

.header-right {
    float: right;
    width: 30%;
    padding: 16px;
}

.content {
    background-color: black;
    color: green;
    font-family: monospace;
    font-size: large;
    padding: 100px 20%;
    line-height: 2;
    text-align: justify;
    min-height: calc(100vh - 40px);
}

.skills:after {
    content: "";
    display: table;
    clear: both;
}


.col {
    float: left;
    width: 33.33%;
    text-align: center;
}

.wide {
    padding: 100px 17%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#name {
    font-style: italic;
}

.sticky + .content {
    padding-top: 102px;
}

.signature {
    padding-left: 80%;
    line-height: 1;
}

button {
    color: green;
    background-color: black;
    border-color: green;
    font-family: monospace;
    padding: 2%;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #000000; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav-item {
    padding-left: 20%;
    padding-top:6%;
}

.sidenav-item > a:link,visited {
    color:green;
    text-decoration: none;
}

.indent {
    padding-left: 5%;
}

.copyright {
    float: right;
    padding-top: 5%;
}