a:link, a:visited {
    color: green;
}

body {
    background-color: black;
}

.button-link:link, visited {
    text-decoration: none;
    padding: 1%;
}

.button-link {
    text-overflow: ellipsis;
}

button {
    color: green;
    background-color: black;
    border-color: green;
    font-family: monospace;
    padding: 2%;
}

.content {
    grid-area: content;
    color: green;
    font-family: monospace;
    font-size: large;
    line-height: 2;
    text-align: justify;
    padding: 1%;
}

.copyright {
    grid-area: footer;
    color: green;
    font-family: monospace;
    text-align: right;
    padding: 1%;
}

.header {
    grid-area: header;
    color: green;
    font-family: monospace;
}

.header-left {
    padding: 2%;
}

.header-right {
    padding: 2%;
    min-width: 30%;
}

.main-nav {
    grid-area: nav;
    width: 100%;
    transition: 0.5s;
}

#nf-paragraph {
    text-align: center;
}

#not-found {
    font-size: 500%;
    text-align: center;
}

.sections {
    padding-left: 3%;
}

.side {
    grid-area: aside;
}

.sidenav-item {
    float: left;
    display: none;
}

.sidenav-item > a:link, visited {
    color: green;
    text-decoration: none;
}

.signature {
    text-align: right;
    line-height: 1;
}

.wrapper {
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-areas:
    "header"
    "nav"
    "content"
    "aside"
    "footer";
}

@media (min-width: 700px) {

    .content {
        min-height: 99vh;
    }

    .header-left {
        float: left;
    }

    .header-right {
        float: right;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    .sections {
        display: grid;
        position: fixed;
    }

    .sidenav-item {
        padding: 20%;
        display: grid;
    }

    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
      "header  header"
      "nav     aside"
      "footer      footer";
    }
}

@media (min-width: 900px) {

    .col {
        float: left;
        width: 33.33%;
        text-align: justify;
    }

    nav ul {
        flex-direction: column;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .skills {
        text-align: center;
    }

    .skill-title {
        text-align: center;
    }

    .wrapper {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
      "header header  header"
      "nav    content aside"
      "nav    content aside"
      "footer footer  footer"
    }
}